.mat-card-content {
  padding: 5px !important;
}

.mat-card {
  background-color: rgb(228, 220, 212) !important;
}
.mat-card-title {
  font-size: 50px;
  font-family: SansSerif, serif;
}

#stone {
  background-color: firebrick;
}
#paper {
  background-color: chocolate;
}
#scissor {
  background-color: coral;
}
